@import '../../styles/colors.scss';
@import '../../styles/metrics.scss';
@import '../../styles/mixins.scss';

:host {
  z-index: 100;
  background-color: $white;
  padding: 1em;
  box-sizing: border-box;
  @include flex(0,0,auto);
  @include display-flex();
  @include justify-content-center();
  @include box-shadow(0,3px,3px,$grey);
}

h1 {
  margin: 0;
  font-size: 3em;
  color: $red;
}
