<app-header></app-header>
<div class="background"></div>

<div id="main-container">
  <div class="background"></div>
  <div #convTainer id="conversation-container">
    <div *ngFor="let msg of messages">
      <text-msg
        *ngIf="msg.type === 'text'"
        [align]="msg.align"
        [text]="msg.text" >
      </text-msg>

      <video-msg
        *ngIf="msg.type === 'video'"
        [align]="msg.align"
        [url]="msg.url" >
      </video-msg>

      <mcq-msg
        *ngIf="msg.type === 'mcq'"
        [align]="msg.align"
        [answer]="msg.answer"
        [choices]="msg.choices"
        [explanation]="msg.explanation"
        [wording]="msg.wording" >
      </mcq-msg>
    </div>
  </div>


  <div id="input-container">
    <div>
      <input [(ngModel)]="userInput" (keydown)="handleKeyDown($event)" placeholder="Aa" />
      <button (click)="sendMessage()" id="send-button">Send</button>
    </div>
  </div>
</div>
